<div class="min-max">
  <span>Max</span>
  <fieldset id="group2">
    <label *ngFor="let number of numbers">
      <input
        type="radio"
        [(ngModel)]="max"
        [value]="number"
        (change)="generateQuestion()"
        name="group2"
      >
      {{ number }}
    </label>
  </fieldset>
</div>
<div class="question">
  <div>What is:</div>
  <div>{{ numberOne }} x {{ numberTwo }} = {{ showAnswer && numberOne && numberTwo ? numberOne * numberTwo : '?' }}</div>
</div>
<p>Press "Enter" to continue</p>