.controls
	padding: 24px
	display: flex

	.reset
		margin-left: 36px
		cursor: pointer

.notes
	&__inner
		display: flex

	&__answer, &__done
		display: flex
		align-items: center
		font-size: 127px
		margin-left: 165px

.ponies
  display: flex
  flex-wrap: wrap

  img
		margin-right: 24px