.controls
	padding: 24px
	display: flex

	.reset
		padding: 16px 24px
		background-color: gray
		color: white
		font-weight: bold
		border-radius: 4px
		margin-left: 36px
		cursor: pointer
	.next
		width: 85px
		cursor: pointer
		padding: 16px 24px
		background-color: green
		color: white
		font-weight: bold
		border-radius: 4px
		margin-left: 36px
		cursor: pointer

.notes
	&__inner
		display: flex

	&__answer, &__done
		display: flex
		align-items: center
		font-size: 127px
		margin-left: 165px
		font-weight: bold
.ponies
	display: flex
	flex-wrap: wrap

	img
		margin-right: 24px
