.bunnies
  display: flex
  flex-wrap: wrap

  img
    margin-right: 24px

.reset
  cursor: pointer

.notes
	&__inner
		display: flex;

	&__answer
		display: flex;
		align-items: center;
		font-size: 127px;
		margin-left: 165px;