<div class="controls">
	<div>Press "Enter" to continue</div>
	<button class="reset" (click)="reset()">Reset</button>
</div>
<div class="notes">
	<div [hidden]="noteIndex !== i" *ngFor="let note of notes; let i = index;">
		<div class="notes__inner">
			<img class="notes__image" src="{{ note.url }}" />
			<div class="notes__answer" *ngIf="showAnswer">
				{{ note.answer }}
			</div>
			<div *ngIf="done" class="notes__done">Done!</div>
		</div>
	</div>
</div>
<div class="ponies">
  <img *ngFor="let pony of [].constructor(noteIndex) " src="/assets/Alicorn.png" width="100" />
</div>
