<div class="controls">
	<button class="btn next" (click)="next()">Next</button>
	<div class="btn reset" (click)="reset()">Reset</div>
	<button 
		class="btn penalty"
		[disabled]="showAnswer"
		(click)="penalty()">Penalty (Minus 1 Pony)</button>
</div>
<div class="notes">
	<div [hidden]="noteIndex !== i" *ngFor="let note of notes; let i = index;">
		<div class="notes__inner">
			<img class="notes__image" src="{{ note.url }}" />
			<div class="notes__answer" *ngIf="showAnswer">
				{{ note.answer }}
			</div>
			<div *ngIf="done" class="notes__done">Done!</div>
		</div>
	</div>
</div>
<div class="ponies">
	<ng-container *ngIf="errors <= noteIndex">
    <div *ngFor="let pony of [].constructor(noteIndex - errors)" class="ponies__card"></div>
	</ng-container>
</div>
