<label>
  Addition
  <input type="radio" [(ngModel)]="operation" value="Addition">
</label>
<label>
  Subtraction
  <input type="radio" [(ngModel)]="operation" value="Subtraction">
</label>
<label>
  Multiplication
  <input type="radio" [(ngModel)]="operation" value="Multiplication">
</label>
<button type="button" (click)="generateProblems()">Regenerate Questions</button>

<h2>Problems</h2>
<app-problem *ngFor="let problem of problems" [problem]="problem"></app-problem>

<h2>Answers</h2>
<div class="answers">
  <div *ngFor="let problem of problems; let i= index;">
    <p>{{ i + 1 }}. {{ problem.answer }}</p>
  </div>
</div>