<div class="app">
  <div class="controls no-print">
    <div class="operation">
      <label>
        Addition
        <input
          type="radio"
          [(ngModel)]="operation"
          value="Addition"
          (change)="generateProblems()"
       >
      </label>
      <br>
      <label>
        Subtraction
        <input
          type="radio"
          [(ngModel)]="operation"
          value="Subtraction"
          (change)="generateProblems()"
       >
      </label>
      <br>
      <label>
        Multiplication
        <input
          type="radio"
          [(ngModel)]="operation"
          value="Multiplication"
          (change)="generateProblems()"
       >
      </label>
      <br>
    </div>
    <button type="button" (click)="generateProblems()">Regenerate Questions</button>
  </div>

  <div class="header">
    <span>
      <span *ngIf="operation === 'Addition'">Addition</span>
      <span *ngIf="operation === 'Subtraction'">Subtraction</span>
      <span *ngIf="operation === 'Multiplication'">Multiplication</span>
      Problems
    </span>
    <span class="time">Start Time:</span>
    <span class="time">End Time:</span>
  </div>
  <div class="problems">
    <div class="problem" *ngFor="let problem of problems; let i = index;">
      <span>{{ i + 1 }})</span>
      <app-problem [problem]="problem"></app-problem>
    </div>
  </div>

  <div class="answers">
  <h2>Answers</h2>
    <div *ngFor="let problem of problems; let i= index;">
      <p>{{ i + 1 }}) {{ problem.answer }}</p>
    </div>
  </div>
</div>
